xcuserdata
*.xcuserstate
*.xcodeproj/*
.DS_Store
Pods/
screenshots.html
fastlane/report.xml
fastlane/test_output
fastlane/metadata
fastlane/screenshots/*/*.png
fastlane/Preview.html
*.ipa
*.dSYM.zip
.idea
fabric
